@charset "UTF-8";

@import 'vendor/normalize';

@import "~react-datepicker/dist/react-datepicker.css";

.mainContener {
  max-width: 800px;
  position: relative;

  .form {

    padding-top: 5vh;
  }

  .datePicker {
    margin-top: 10px;
  }

  .completeButton {
    position: absolute;
    padding-top: 20px;
    right: 2%;
  }

  .heading {
    padding-top: 5vh;
    text-align: center;
  }

}
